/* rmd css */

p, ul, h4 {
    font-size: 1.8rem;
    font-family: Inter, Arial, sans-serif;
}

a {
    color:#50777E;
    font-weight: bold;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #50777E;
    border-color: #50777E;
}

.row-fluid {
    margin-top: 4vh;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 1.8rem;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-right {
    right: 1px;
    left: auto;
}